header {
  background-color: #e4e4e4;
  padding: 1em;
  margin-block-end: 2em;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

.nav-links {
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: var(--spacing-current);
  list-style: none;
}

.nav-link {
  font-weight: bold;
  color: #fff;
}
