:root {
  box-sizing: border-box;

  --clr-primary: #000;
  --clr-accent: #39c;

  --spacing-xs: 0.25em;
  --spacing-sm: 0.5em;
  --spacing-reg: 0.75em;
  --spacing-lg: 1em;
  --spacing-xl: 1.5em;
  --spacing-xxl: 2em;

  --spacing-current: var(--spacing-reg);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.main-content-wrapper {
  padding: var(--spacing-reg);
  max-width: 1280px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: var(--spacing-reg) var(--spacing-xl);
  background-color: var(--clr-primary);
  border-radius: 5px;
  cursor: pointer;
}

.btn-accent {
  background-color: var(--clr-accent);
}
