:root {
  box-sizing: border-box;

  --fs-base: 0.8rem;
  --fs-reg: calc(var(--fs-base) * 1);
  --fs-lg: calc(var(--fs-base) * 1.02);
  --fs-xl: calc(var(--fs-base) * 1.04);

  --clr-primary: #000;
  --clr-accent: #39c;

  --spacing-xs: 0.25em;
  --spacing-sm: 0.5em;
  --spacing-reg: 0.75em;
  --spacing-lg: 1em;
  --spacing-xl: 1.5em;
  --spacing-xxl: 2em;

  --max-width-phone: 500px;
  --max-width-tablet: 800px;
  --max-width-laptop: 1000px;
  --max-width-desktop: 1200px;

  --spacing-current: var(--spacing-reg);
  --max-width-current: var(--max-width-phone);

  font-size: var(--fs-base);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.content-wrapper {
  padding: var(--spacing-reg);
  max-width: var(--max-width-current);
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: var(--spacing-reg) var(--spacing-xl);
  background-color: var(--clr-primary);
  border-radius: 5px;
  cursor: pointer;
}

.btn-accent {
  background-color: var(--clr-accent);
}
